@import "../../Styles/common.scss";

$border: 1px solid #d4d4d4;

.LoginContainer {
  width: 400px;
  height: 738px;
  margin: 0 auto;
  margin-top: 295px;

  .loginTitle {
    height: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 45px;
  }

  .loginBorder {
    border: 2.5px solid $blackColor;
    margin-bottom: 18px;
  }

  .columnContainer {
    display: flex;
    flex-direction: column;

    .loginInput {
      width: 100%;
      height: 48px;
      margin: 10px 0;
      padding: 0 12px;
      border: $border;
    }

    .autoLogin {
      height: 22px;
      float: left;
      font-size: 12px;
    }

    .loginBtn {
      height: 60px;
      margin: 30px 0;
      background-color: $blackColor;
      color: $whiteColor;
      font-size: 15px;
      cursor: pointer;
    }

    .loginNotPossible {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .LoginNotText {
        font-size: 14px;
        cursor: pointer;
      }

      .LoginNotBorder {
        height: 15px;
        border: 0.1px solid #d4d4d4;
      }
    }

    .snsLoginTitle {
      margin: 50px 0 15px;
      font-size: 14px;
      text-align: center;
    }
  }
}
