@import "../../Styles/common.scss";
@import "../../Components/ActiveLikeBtn/ActiveLikeBtn.scss";

.TwentyNineTVFeed {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.moreBtnContainer {
  display: flex;
  justify-content: center;
  .moreBtn {
    width: 450px;
    height: 65px;
    background-color: transparent;
    border: 1px solid rgba(45, 45, 45, 0.3);
    cursor: pointer;
  }
}

.margin-0 {
  margin: 0;
}
