@import "../../../Styles/common.scss";

.MainLeftNav {
  .categoryInner {
    li {
      padding: 3px 0;
    }

    .categoryTitle {
      button {
        @include btnCustom;
        text-align: left;
        width: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-size: 30px;
        font-weight: bold;
        border-bottom: 4px solid #000;
      }
    }

    .categoryList {
      button {
        @include btnCustom;
        color: #5d5d5d;
        font-size: 16px;

        &:hover {
          font-weight: bold;
        }
      }

      li {
        height: 28px;
      }
    }
  }
}
