@import "../../Styles/common.scss";

$border: 1px solid #d4d4d4;

.LoginContainer {
  width: 400px;
  height: 738px;
  margin: 0 auto;
  margin-top: 295px;

  .loginTitle {
    height: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 45px;
  }

  .loginBorder {
    border: 2.5px solid $blackColor;
    margin-bottom: 18px;
  }

  .loginSubtitle {
    margin: 20px 0 10px;
    font-size: 13px;
  }

  .loginInput {
    width: 100%;
    height: 40px;
    margin: 8px 0;
    padding: 10px 12px;
    border: $border;
  }

  .format {
    text-align: right;
    font-size: 12px;
    color: $orangeColor;
    margin-bottom: 20px;
  }

  .agreeContainer {
    height: 34px;
    margin: 5px 0;
    padding: auto 0;
    font-size: 12px;
    display: flex;
    justify-content: space-between;

    .fas {
      height: 100%;
      margin: auto 0;
    }
  }

  .join {
    margin-top: 40px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: $whiteColor;
    border: none;
    cursor: pointer;
  }

  .disableBtn {
    background-color: #e4e4e4;
  }

  .activeBtn {
    background-color: $blackColor;
  }
}
