.Item {
  width: 50%;
  padding: 0 0 30px 40px;
  box-sizing: border-box;

  img {
    width: 100%;
  }

  .container {
    .title {
      margin-top: 12px;
      font-size: 23px;
      line-height: 30px;
      font-weight: 600;
    }

    .content {
      margin-top: 6px;
      font-size: 15px;
      line-height: 24px;
    }
  }
}
