.productItem {
  width: 20%;
  padding: 0 0 40px 20px;
  box-sizing: border-box;
  list-style: none;

  .imgBox {
    img {
      width: 100%;
      overflow: hidden;
    }
  }

  .info {
    margin-top: 15px;

    .brand {
      margin-bottom: 7px;
      font-size: 13px;
      text-decoration: underline;
      line-height: 1.2;
      font-weight: 700;
    }

    .name {
      margin-bottom: 14px;
      padding-right: 10%;
      line-height: 16px;
      font-size: 12px;
      color: #5d5d5d;
      word-break: break-all;
    }

    .price {
      font-size: 14px;
      line-height: 16px;
      vertical-align: top;

      .sellPrice {
        font-weight: 400;
        color: #d4d4d4;
        font-size: 12px;
      }

      .nonDiscounted {
        font-weight: 600;
        color: #303033;
        font-size: 14px;
      }

      .discountedPrice {
        font-weight: 600;
        color: #ff4800;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
      }

      .hide {
        display: none;
      }
    }
  }

  .freeShipping {
    border: 1px solid #e4e4e4;
    display: inline-block;
    height: 18px;
    margin-top: 6px;
    padding: 0 8px;
    border: 1px solid #e4e4e4;
    border-radius: 1px;
    font-size: 10px;
    color: #5d5d5d;
    line-height: 18px;
  }

  .heartArea {
    display: flex;
    margin-top: 13px;

    .count {
      margin-left: 8px;
      margin-top: 4px;
      font-size: 12px;
    }

    .heart {
      //   display: inline-block;
      //   width: 18px;
      display: flex;
      height: 18px;
      margin-right: 14px;
      line-height: 18px;
      vertical-align: top;
      margin-right: 3px;
      cursor: pointer;

      .heartImageBox {
        svg {
          width: 15px;
        }
      }
    }

    .review {
      display: flex;
      height: 18px;
      margin-right: 14px;
      line-height: 18px;
      vertical-align: top;

      .image {
        margin-right: 5px;

        img {
          width: 18px;
        }
      }
    }
  }
}

.hide {
  display: none;
}
