.FilterNav {
  .filterTop {
    position: relative;
    padding: 15px 0 35px;
    margin-top: 20px;
    border-top: 4px solid #1d1d1d;
    font-weight: 600;
    font-size: 18px;

    .reset {
      position: absolute;
      top: 12px;
      right: 0;
      color: #303033;
      font-weight: 300;
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .filterBox {
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
  }

  .filterTitle {
    padding-bottom: 10px;
    font-weight: 600;
  }

  .eachFilter {
    padding: 6px 0;

    span {
      min-width: 20px;
      min-height: 20px;
      line-height: 20px;
      display: inline-block;
      vertical-align: top;
    }

    input {
      width: 14px;
      height: 14px;
    }

    label {
      font-size: 12px;
      line-height: 22px;
      padding-left: 8px;
      color: #303033;
      cursor: pointer;
      vertical-align: top;
    }
  }
}
