@import "../../Styles/common.scss";

.MyHeart {
  padding: 20px 100px;
  margin-top: 300px;
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat";

  h3 {
    margin: 17px 0;
    font-weight: bold;
    font-size: 18px;
  }

  ul {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  li {
    line-height: 35px;
    font-size: 16px;
    font-weight: lighter;
    cursor: pointer;
  }

  .myHeartMenu {
    width: 230px;

    .user {
      width: 180px;
      display: flex;
      flex-direction: column;

      .userName {
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: bold;
      }

      span {
        font-size: 20px;
        line-height: 35px;

        span {
          margin-left: 5px;
          font-weight: bold;
        }
      }
    }

    .number {
      font-size: 28px;
    }

    span {
      font-size: 17px;
      line-height: 25px;
      color: #797878;
    }

    .inquireBtn {
      width: 220px;
      height: 50px;
      margin-top: 30px;
      text-indent: 20px;
      text-align: left;
      font-size: 16px;
      color: $grayColor;
      background-color: transparent;
      border: 1px solid #a3a1a1;
      cursor: pointer;
    }
  }

  main {
    width: 80%;

    .myHeartTopContainer {
      padding: 20px;
      background-color: $grayColor;
      display: flex;

      .title {
        font-size: 17px;
        color: gray;
        cursor: pointer;
      }

      span {
        color: $whiteColor;
        font-size: 50px;
      }

      .number {
        margin-top: 80px;
        color: $whiteColor;
        font-size: 50px;
      }

      .membershipGrade {
        width: 700px;
        border-right: 1px solid gray;

        .membershipContent {
          margin-top: 80px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          button {
            width: 150px;
            height: 40px;
            margin-right: 25px;
            border-radius: 50px;
            font-size: 16px;
            color: $whiteColor;
            background-color: transparent;
            border: 1px solid gray;
            cursor: pointer;
          }
        }
      }

      .coupon {
        width: 300px;
        margin-left: 20px;
        border-right: 1px solid gray;
      }

      .mileage {
        margin-left: 20px;
      }
    }

    .myheartCategory {
      width: 800px;
      margin: 0 auto;
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;

      li {
        font-size: 30px;
      }

      .myheartCategoryClicked {
        font-weight: 700;
      }
    }

    .myHeartContents {
      margin-top: 50px;
    }
  }
}
